@use "../global" as g;

html {
  font-size: 62.5%;
}

body {
  font-family: g.$noto-sans;
  font-weight: g.$normal;
  line-height: 1;
  background-color: g.$black;
}

.wrapper {
  overflow: hidden;
  opacity: 0;

  &.is-active {
    animation: fade-in 0.8s g.$animation-base-easing forwards;
  }
}