@use "../../global/" as g;

// =========================================================================
// アニメーション用ユーティリティ (.u-)
// =========================================================================

// フェードイン
.u-fade-in {
  opacity: 0;

  &.is-active {
    animation: fade-in g.$animation-base-duration g.$animation-base-easing forwards;
  }
}

// 左から右へフェードイン
.u-fade-right {
  opacity: 0;

  &.is-active {
    animation: fade-right g.$animation-base-duration g.$animation-base-easing forwards;
  }
}

// 下から上へフェードイン
.u-fade-up {
  opacity: 0;

  &.is-active {
    animation: fade-up g.$animation-base-duration g.$animation-base-easing forwards;
  }
}
