@use "../global" as *;

#contact {
  .contact-area {
    @include contents-width(1160px);

    margin-top: 100px;
    opacity: 0;
    animation: fadeIn 1s 0.5s forwards;

    @media screen and (width >= 768px) {
      margin-top: 120px;
    }

    @media screen and (width >= 1024px) {
      margin: 176px auto 0;
    }

    &__ttl {
      margin-bottom: 40px;
      font-family: $oswald;
      font-size: 66px;
      font-weight: 700;
      color: $white;
      text-align: center;

      @media screen and (width >= 768px) {
        margin-bottom: 50px;
        font-size: 91px;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 75px;
        font-size: 190px;
      }
    }

    &__txt {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 2;
      color: $white;
      text-align: center;
      letter-spacing: 0.03em;

      @media screen and (width >= 768px) {
        margin-bottom: 50px;
        font-size: 14px;
        letter-spacing: 0.05em;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 75px;
      }
    }

    &__form {
      max-width: 800px;
      margin: 0 auto 80px;

      // --- ここからCF7特有のメッセージ用スタイル ---

      .screen-reader-response {
        display: none;
      }

      // チェックボックスのラベル
      .wpcf7-list-item-label {
        font-size: 12px;
        color: $gray;
        letter-spacing: 0.03em;

        @media screen and (width >= 768px) {
          font-size: 13px;
          letter-spacing: 0.04em;
        }

        @media screen and (width >= 1024px) {
          font-size: 14px;
          letter-spacing: 0.05em;
        }
      }

      input[type="checkbox"] {
        position: relative;
        display: inline-block;
        width: 16px;
        aspect-ratio: 1;
        margin-right: 10px;
        appearance: none;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 3px;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60%;
          height: 30%;
          content: "";
          border-bottom: 2px solid #4faf76;
          border-left: 2px solid #4faf76;
          opacity: 0;
          transform: translate(-50%, -70%) rotate(-45deg);
          transition: opacity 0.3s ease-out;
        }

        &:checked::after {
          opacity: 1;
        }
      }

      // 入力エラーの時のテキスト（「必須項目です」など）
      .wpcf7-not-valid-tip {
        display: block;
        margin-top: 0.8em;
        font-size: 12px;
        font-weight: 700;
        color: #f00;

        @media screen and (width >= 768px) {
          font-size: 13px;
        }

        @media screen and (width >= 1024px) {
          font-size: 14px;
        }
      }

      // 送信ボタンの下に出る全体メッセージ
      .wpcf7-response-output {
        // 基本は非表示
        display: none;
        padding: 1em;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;

        // デフォルトの線を消す
        border: none;
        border-radius: 4px;

        @media screen and (width >= 768px) {
          font-size: 15px;
        }

        @media screen and (width >= 1024px) {
          font-size: 16px;
        }
      }

      // 入力エラーや送信失敗した時のメッセージ
      form.invalid .wpcf7-response-output,
      form.failed .wpcf7-response-output,
      form.unaccepted .wpcf7-response-output,
      form.spam .wpcf7-response-output {
        // エラー時のみ表示する
        display: block;
        color: #f00;
        background-color: #fff0f0; // 薄い赤
      }

      // スピナーのカスタマイズ
      .wpcf7-spinner {
        display: inline-block;
        visibility: hidden;
        width: 20px;
        height: 20px;
        margin-inline: auto;

        // デフォルトの画像やSVGを強制的に削除
        background: none !important;
        border: 3px solid $white; // リングのベース色
        border-top: 3px solid $gray; // くるくる回る部分の色
        border-radius: 50%;
        animation: cf7-spin 1s linear infinite;

        // デフォルトの画像やSVGを強制的に削除
        &::before {
          display: none !important;
        }
      }

      form.submitting .wpcf7-spinner {
        visibility: visible;
      }
    }

    &__form-notice {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 2;
      color: $gray;
      text-align: right;
      letter-spacing: 0.03em;

      &::before {
        font-size: 12px;
        line-height: 2;
        color: $white;
        letter-spacing: 0.03em;
        content: "＊";
      }

      @media screen and (width >= 768px) {
        margin-bottom: 30px;
        font-size: 14px;
        letter-spacing: 0.05em;

        &::before {
          font-size: 14px;
          letter-spacing: 0.05em;
        }
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 40px;
      }
    }

    &__form-box {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 30px;

      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }

      @media screen and (width >= 768px) {
        margin-bottom: 40px;
      }
    }

    &__form-label {
      display: block;
      font-size: 12px;
      color: $gray;
      letter-spacing: 0.03em;

      &.required::after {
        font-size: 12px;
        color: $white;
        letter-spacing: 0.03em;
        content: "＊";
      }

      @media screen and (width >= 768px) {
        font-size: 14px;
        letter-spacing: 0.05em;

        &.required::after {
          font-size: 14px;
          letter-spacing: 0.05em;
        }
      }
    }

    &__form-input,
    &__form-message {
      width: 100%;
      padding: 23px;
      font-family: $noto-sans;
      font-size: 14px;
      color: $gray;
      letter-spacing: 0.05em;
      appearance: none;
      background-color: $white;
      background-image: none;
      border: none;
      border-radius: 0;
      transition: 0.4s;

      &:focus {
        outline: none;
        box-shadow: 0 0 8px 0 $gray;
      }

      &::placeholder {
        color: #8e8e8e;
      }

      @media screen and (width >= 768px) {
        padding: 40px 23px;
        font-size: 16px;
      }
    }

    &__form-message {
      height: 280px;
    }

    &__form-submit {
      display: block;
      width: 100%;
      padding: 26px 0;
      font-size: 12px;
      color: $white;
      letter-spacing: 0.05em;
      text-decoration: none;
      appearance: none;
      cursor: pointer;
      background-color: transparent;
      background-image: none;
      border: none;
      border: 1px solid $paleGray;
      border-radius: 0;
      transition: 0.4s ease-out;

      &:hover,
      &:focus {
        outline: none;
      }

      &::-moz-foucus-inner {
        padding: 0;
        border: none;
      }

      &:hover {
        color: $black;
        background: $white;
      }

      @media screen and (width >= 768px) {
        padding: 40px 0;
        font-size: 16px;
      }
    }
  }
}
