@use "../global" as *;

#thanks {
  .thanks-area {
    @include contents-width(1160px);

    margin-top: 100px;
    opacity: 0;
    animation: fadeIn 1s 0.5s forwards;

    @media screen and (width >= 768px) {
      margin-top: 120px;
    }

    @media screen and (width >= 1024px) {
      margin: 176px auto 0;
    }

    &__ttl {
      margin-bottom: 40px;
      font-family: $oswald;
      font-size: 66px;
      font-weight: 700;
      color: $white;
      text-align: center;

      @media screen and (width >= 768px) {
        margin-bottom: 50px;
        font-size: 91px;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 75px;
        font-size: 190px;
      }
    }

    &__txt {
      margin-bottom: 40px;
      font-size: 12px;
      line-height: 2;
      color: $white;
      text-align: center;
      letter-spacing: 0.03em;

      @media screen and (width >= 768px) {
        margin-bottom: 50px;
        font-size: 14px;
        letter-spacing: 0.05em;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 75px;
        font-size: 16px;
      }
    }

    &__link-wrap {
      display: flex;
      gap: 32px;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      @media screen and (width >= 768px) {
        gap: 56px;
        margin-bottom: 60px;
      }

      @media screen and (width >= 1024px) {
        gap: 80px;
        margin-bottom: 80px;
      }
    }

    &__link {
      @include link-circle-btn(80px, 13px);

      @media screen and (width >= 768px) {
        @include link-circle-btn(130px, 18px);
      }

      @media screen and (width >= 1024px) {
        @include link-circle-btn(223px, 24px);
      }
    }
  }
}