@use "../global" as *;

#top {
  .ray-canvas-wrapper {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
  }

  .mv-canvas-wrapper {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    opacity: 0.75;
    transition: opacity 0.6s ease-out;

    &.hidden {
      opacity: 0;
    }
  }

  .mv {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;

    @media screen and (width >= 1024px) {
      height: 100vh;
    }

    &__catchcopy-ja-wrap {
      position: absolute;
      top: 20%;
      z-index: 3;
      width: 100%;

      @media screen and (width >= 768px) {
        top: 35%;
      }

      @media screen and (width >= 1024px) {
        top: 30%;
        left: 50%;
        max-width: 1600px;
        transform: translateX(calc(-50% + 50px));
      }
    }

    &__catchcopy-ja {
      width: fit-content;
      margin: 0 auto;
      font-size: 15px;
      font-weight: 700;
      line-height: 2;
      color: $white;
      letter-spacing: 0.66em;
      opacity: 0;
      transform: rotate(-5deg) translateX(10vw);
      transition: 0.4s 1s cubic-bezier(0.34, 0.8, 0.63, 0.98);

      @media screen and (width >= 768px) {
        margin: 0 0 0 50px;
        letter-spacing: 1.18em;
        transform: translateX(10vw);
      }

      @media screen and (width >= 1024px) {
        margin: 0;
        font-size: 22px;
      }

      &.js-completed {
        transition: none;
      }

      &.js-active {
        opacity: 1;
        transform: rotate(-5deg) translateX(0);

        @media screen and (width >= 768px) {
          transform: translateX(0);
        }
      }
    }

    &__catchcopy-ja-big {
      display: block;
      font-size: 75px;
      font-weight: 900;
      line-height: 1.3;
      color: $white;
      letter-spacing: 0.12em;

      @media screen and (width >= 500px) {
        margin-left: -4px;
        font-size: 87px;
      }

      @media screen and (width >= 1024px) {
        font-size: 120px;
      }

      @media screen and (width >= 1400px) {
        margin-left: -7px;
        font-size: 140px;
      }
    }

    &__br {
      @media screen and (width >= 768px) {
        display: none;
      }
    }

    &__catchcopy-en-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: auto;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: overlay;
      opacity: 0;
      transform: translate(0, -100vh);
      transition: 1.4s cubic-bezier(0.99, 0, 0.08, 1);

      &.js-completed {
        transition: none;
      }

      &.js-active {
        opacity: 1;
        transform: translate(0, 0);
      }

      @media screen and (width >= 768px) {
        top: 31%;
        width: 100%;
        height: auto;
        transform: translate(-100vw, 0);
      }

      @media screen and (width >= 1024px) {
        top: 18%;
      }

      @media screen and (width >= 1400px) {
        left: 50%;
        max-width: 1600px;
        transform: translate(calc(-50% - 100vw), 0);

        &.js-active {
          transform: translate(-50%, 0);
        }
      }
    }

    &__btn-wrap {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;

      @media screen and (width >= 1024px) {
        left: 50%;
        max-width: 1600px;
        transform: translateX(-50%);
      }
    }

    &__scroll-btn {
      position: absolute;
      right: 20px;
      bottom: 50px;
      display: block;
      width: 145px;
      height: 145px;
      text-decoration: none;
      pointer-events: none;
      border: 1px solid $paleGray;
      border-radius: 50%;
      opacity: 0;
      transition: 0.6s 0.8s;

      &.js-completed {
        transition: none;
      }

      &.js-active {
        pointer-events: all;
        opacity: 1;
      }

      @media screen and (width >= 768px) {
        right: 50px;
        bottom: 25%;
      }

      @media screen and (width >= 1024px) {
        bottom: 50px;
        width: 220px;
        height: 220px;
      }

      @media screen and (width >= 1400px) {
        right: 0;
      }
    }

    &__scroll-txt {
      position: absolute;
      top: 50%;
      left: 60%;
      display: block;
      font-family: $oswald;
      font-size: 11px;
      font-weight: 400;
      line-height: 2;
      color: $white;
      letter-spacing: 0.64em;
      transform: translate(-50%, -50%);

      @media screen and (width >= 1024px) {
        font-size: 14px;
      }

      &::before {
        position: absolute;
        top: 7px;
        left: -30px;
        width: 18px;
        height: 25px;
        content: "";
        background: url("../images/top/arrow_down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        animation:
          mvArrowMove 1.6s ease-in-out infinite,
          arrowHide 1.6s ease-out infinite;
      }
    }
  }

  .message {
    position: relative;
    padding: 56px 0 100px;
    margin: 80px 0;
    overflow: hidden;

    @media screen and (width >= 768px) {
      padding: 160px 0 240px;
      margin: 120px 0;
    }

    @media screen and (width >= 1024px) {
      margin: 160px 0;
    }

    &__inner {
      @include contents-width;

      z-index: 2;
    }

    &__txt-wrap {
      width: fit-content;
      margin: 0 auto;
    }

    &__txt {
      margin-bottom: 30px;
      font-size: 15px;
      font-weight: 700;
      line-height: 2;
      color: $white;
      letter-spacing: 0.03em;

      @media screen and (width >= 768px) {
        margin-bottom: 40px;
        font-size: 20px;
        letter-spacing: 0.05em;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 48px;
        font-size: 24px;
        letter-spacing: 0.08em;
      }
    }

    &__br {
      @media screen and (width >= 768px) {
        display: none;
      }
    }
  }

  .about {
    margin-bottom: 100px;

    @media screen and (width >= 768px) {
      margin-bottom: 240px;
    }

    &__inner {
      @include contents-width;
    }

    &__ttl {
      @include section-title(center);
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (width >= 1280px) {
        flex-direction: row;
        gap: 80px;
        justify-content: center;
      }
    }

    &__pic {
      width: 184px;
      margin-bottom: 20px;

      @media screen and (width >= 768px) {
        width: 330px;
        margin-bottom: 40px;
      }

      @media screen and (width >= 1280px) {
        margin-bottom: 0;
      }
    }

    &__img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    &__info {
      width: 100%;
      max-width: 560px;
    }

    &__name-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      @media screen and (width >= 768px) {
        margin-bottom: 40px;
      }
    }

    &__name {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      color: $white;
      letter-spacing: 0.12em;

      @media screen and (width >= 768px) {
        font-size: 21px;
      }
    }

    &__link {
      position: relative;
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 4px;
      font-family: $oswald;
      font-size: 12px;
      color: $white;
      letter-spacing: 0.03em;
      text-decoration: none;

      &::before {
        position: absolute;
        bottom: 0;
        left: 4px;
        width: calc(100% - 8px);
        height: 1px;
        content: "";
        background: $white;
        transform: scale(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;
      }

      &:hover::before {
        transform: scale(1);
        transform-origin: left;
      }

      @media screen and (width >= 768px) {
        gap: 16px;
        font-size: 14px;
        letter-spacing: 0.05em;
      }
    }

    &__icon {
      display: block;
      width: 32px;
      height: 32px;
      object-fit: cover;
    }

    &__txt {
      font-size: 12px;
      line-height: 2;
      color: $gray;
      letter-spacing: 0.03em;

      &:nth-of-type(1) {
        margin-bottom: 12px;
      }

      @media screen and (width >= 768px) {
        font-size: 14px;
        letter-spacing: 0.05em;

        &:nth-of-type(1) {
          margin-bottom: 28px;
        }
      }
    }
  }

  .skill {
    margin-bottom: 100px;

    @media screen and (width >= 768px) {
      margin-bottom: 240px;
    }

    &__inner {
      @include contents-width;
    }

    &__ttl {
      @include section-title;
    }

    &__ul {
      display: flex;
      flex-direction: column;
      gap: 72px;
      counter-reset: number 0;

      @media screen and (width >= 768px) {
        gap: 110px;
      }

      @media screen and (width >= 1024px) {
        flex-flow: row wrap;
        gap: 140px 0;
        justify-content: space-between;
      }
    }

    &__list {
      position: relative;
      padding-top: 20px;
      list-style-type: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 28px);
        height: 1px;
        content: "";
        background: $gray;
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        font-family: $oswald;
        font-size: 14px;
        color: $gray;
        content: counter(number, decimal-leading-zero);
        counter-increment: number 1;
        transform: translateY(-50%);
      }

      @media screen and (width >= 768px) {
        padding-top: 30px;

        &::before {
          width: calc(100% - 40px);
        }

        &::after {
          font-size: 16px;
        }
      }

      @media screen and (width >= 1024px) {
        width: 46%;
      }
    }

    &__name {
      margin-bottom: 20px;
      font-family: $oswald;
      font-size: 24px;
      font-weight: 500;
      color: $white;
      letter-spacing: 0.05em;

      @media screen and (width >= 768px) {
        margin-bottom: 30px;
        font-size: 30px;
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (width >= 768px) {
        flex-direction: row;
        gap: 30px;
      }

      @media screen and (width >= 1024px) {
        flex-direction: column;
      }

      @media screen and (width >= 1400px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__txt {
      font-size: 12px;
      line-height: 2;
      color: $gray;
      letter-spacing: 0.03em;

      @media screen and (width >= 768px) {
        font-size: 14px;
        letter-spacing: 0.05em;
      }

      @media screen and (width >= 1400px) {
        max-width: 340px;
      }
    }

    &__txt-link {
      position: relative;
      display: inline-block;
      color: $paleGray;
      text-decoration: none;
      transition: color 0.4s ease-out;

      &::before {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: $paleGray;
      }

      &::after {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: $white;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease-out;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $white;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    &__icon-wrap {
      display: flex;
      flex-shrink: 0;
      align-self: center;
      justify-content: center;
      width: 300px;
      height: 140px;

      @media screen and (width >= 1400px) {
        align-self: flex-start;
      }
    }

    &__icon-svg {
      width: 100%;
      object-fit: cover;

      path {
        opacity: 0;
        fill: none;
        stroke: $paleGray;
      }
    }
  }

  .works {
    margin-bottom: 100px;

    @media screen and (width >= 768px) {
      margin-bottom: 240px;
    }

    &__inner {
      @include contents-width;
    }

    &__scroll-outer {
      width: 100%;
      height: 100vh;
    }

    &__ttl {
      @include section-title;

      padding-top: 20px;
      margin-bottom: 20px;

      @media screen and (width >= 768px) {
        padding-top: 40px;
        margin-bottom: 40px;
      }

      @media screen and (width >= 1024px) {
        padding-top: 60px;
        margin-bottom: 24px;
      }
    }

    &__scroll-inner {
      position: relative;
      margin-bottom: 20px;

      @media screen and (width >= 768px) {
        margin-bottom: 24px;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 32px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:not(:first-of-type) {
        position: absolute;
        top: 0;
      }

      @media screen and (width >= 1024px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }

    &__txt-wrap {
      margin-bottom: 20px;
      opacity: 0;

      @media screen and (width >= 768px) {
        margin-bottom: 24px;
      }

      @media screen and (width >= 1024px) {
        position: absolute;
        left: 0;
        z-index: 1;
      }
    }

    &__item-ttl {
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 700;
      color: $white;
      letter-spacing: -0.03em;

      &.en {
        font-family: $oswald;
      }

      @media screen and (width >= 768px) {
        margin-bottom: 24px;
        font-size: 56px;
      }

      @media screen and (width >= 1024px) {
        margin-bottom: 32px;
        font-size: 70px;
      }

      @media screen and (width >= 1400px) {
        margin-bottom: 40px;
        font-size: 110px;
      }
    }

    &__item-txt {
      font-size: 12px;
      line-height: 2;
      color: $gray;
      letter-spacing: 0.05em;

      @media screen and (width >= 768px) {
        font-size: 14px;
      }

      @media screen and (width >= 1400px) {
        font-size: 16px;
      }
    }

    &__img-wrap {
      position: relative;
      opacity: 0;

      &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: rgb(0 0 0 / 10%);
        border-radius: 10px;
      }

      @media screen and (width >= 1024px) {
        width: 56.25%;
      }
    }

    &__item-img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    &__more-link {
      @include link-circle-btn(90px, 15px);

      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      transform: translate(25%, -50%);

      @media screen and (width >= 768px) {
        @include link-circle-btn(130px, 18px);

        transform: translate(25%, -50%);
      }

      @media screen and (width >= 1400px) {
        @include link-circle-btn(223px, 24px);
      }
    }

    &__nav-wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 14px;
      align-items: center;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.4s ease-out;

      &.js-active {
        pointer-events: all;
        opacity: 1;
      }

      @media screen and (width >= 768px) {
        flex-direction: row;
        gap: 40px;
        justify-content: center;
      }

      @media screen and (width >= 1024px) {
        gap: 40px;
        justify-content: flex-end;
        margin-right: 40px;
      }

      @media screen and (width >= 1280px) {
        gap: 60px;
        margin-right: 60px;
      }
    }

    &__nav {
      display: flex;
      padding: 5px;
      background: $gray;
      border-radius: 9999px;
    }

    &__nav-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-family: $oswald;
      font-size: 12px;
      font-weight: 700;
      color: $white;
      letter-spacing: -0.03em;
      text-decoration: none;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.4s ease-out;

      @media screen and (width >= 768px) {
        width: 48px;
        height: 48px;
        font-size: 13px;
      }

      @media screen and (width >= 1280px) {
        width: 64px;
        height: 64px;
        font-size: 15px;

        &:hover {
          background-color: $paleGray;
        }
      }

      &.js-active {
        background-color: $black;
      }
    }

    &__all-btn {
      position: relative;
      display: inline-block;
      padding: 10px;
      font-family: $oswald;
      font-size: 16px;
      font-weight: 700;
      color: $gray;
      letter-spacing: -0.03em;
      text-decoration: none;
      transition: 0.4s ease-out;

      &::before {
        position: absolute;
        bottom: 4px;
        left: 10px;
        width: calc(100% - 20px);
        height: 1px;
        content: "";
        background: $gray;
      }

      &::after {
        position: absolute;
        bottom: 4px;
        left: 10px;
        width: calc(100% - 20px);
        height: 1px;
        content: "";
        background: $white;
        transform: scale(0);
        transform-origin: right;
        transition: transform 0.4s ease-out;
      }

      &:hover {
        color: $white;

        &::after {
          transform: scale(1);
          transform-origin: left;
        }
      }

      @media screen and (width >= 768px) {
        font-size: 18px;
      }

      @media screen and (width >= 1400px) {
        font-size: 22px;
      }
    }

    &__scroll-icon-wrap {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 72px;
      height: 72px;
      transform: translate(-50%, calc(100% + 10px));

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 18px;
        content: "";
        background: url("../images/top/arrow_down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
        animation:
          worksArrowMove 1.6s ease-in-out infinite,
          arrowHide 1.6s ease-out infinite;
      }

      @media screen and (width >= 768px) {
        width: 130px;
        height: 130px;

        &::before {
          width: 18px;
          height: 24px;
        }
      }

      @media screen and (width >= 1024px) {
        left: 0;
        transform: none;
      }
    }

    &__scroll-icon-box {
      animation: circleRotate 16s linear infinite;
    }

    &__scroll-icon {
      display: block;
      width: 100%;
      object-fit: cover;

      path {
        fill: $white;
      }
    }
  }

  .contact {
    padding: 102px 0;
    background: url("../images/top/contact_bg.jpg") center center / cover;

    @media screen and (width >= 768px) {
      padding: 182px 0;
    }

    &__inner {
      @include contents-width;
    }

    &__ttl {
      @include section-title(center);
    }

    &__txt {
      margin-bottom: 24px;
      font-size: 12px;
      line-height: 2;
      color: $white;
      text-align: center;
      letter-spacing: 0.05em;

      @media screen and (width >= 768px) {
        margin-bottom: 40px;
        font-size: 14px;
      }
    }

    &__br {
      @media screen and (width >= 768px) {
        display: none;
      }
    }

    &__link-btn {
      @include link-circle-btn(80px, 12px);

      margin: 0 auto;
      line-height: 1.6;

      @media screen and (width >= 768px) {
        @include link-circle-btn(98px, 13px);
      }
    }
  }
}
