@use "../global/" as g;

// =========================================================================
//  トップページ (.p-top)
// =========================================================================

.p-top {
  &__ray-canvas-wrap {
    position: fixed;
    z-index: g.$z-back;
    width: 100%;
    height: 100svh;
  }

  &__mv-canvas-wrap {
    position: fixed;
    z-index: g.$z-back;
    width: 100%;
    height: 100svh;
  }

  // =========================================================================
  // MVセクション
  // =========================================================================

  &__mv {
    position: relative;
    height: 100svh;
    overflow: hidden;
  }

  &__catchcopy-ja-wrap {
    @include g.contents-width;

    position: absolute;
    top: 20%;
    left: 50%;
    z-index: g.$z-mv-logo-ja;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    opacity: 0;
    transform: rotate(-5deg) translateX(calc(-50% + 10vw));
    transition:
      opacity 0.4s 1s g.$transition-easing-mv-logo-ja,
      transform 0.4s 1s g.$transition-easing-mv-logo-ja;

    @include g.mq(md) {
      top: 24.5%;
      transform: translateX(calc(-50% + 10vw));
    }

    &.is-complete {
      transition: none;
    }

    &.is-active {
      opacity: 1;
      transform: rotate(-5deg) translateX(-50%);

      @include g.mq(md) {
        transform: translateX(-50%);
      }
    }
  }

  &__catchcopy-ja {
    color: g.$white;
    white-space: nowrap;

    &--small {
      font-size: 1.5rem;
      font-weight: g.$bold;
      line-height: 2;
      letter-spacing: 0.66em;

      @include g.mq(md) {
        letter-spacing: 1.18em;
      }

      @include g.mq(lg) {
        @include g.fluid-text(22, 28, $min-viewport: 1024, $max-viewport: 1920);
      }
    }

    &--large {
      font-size: 7.5rem;
      font-weight: g.$heavy;
      line-height: 1.3;
      letter-spacing: 0.12em;

      @include g.mq(md) {
        font-size: 8.7rem;
      }

      @include g.mq(lg) {
        @include g.fluid-text(90, 140, $min-viewport: 1024, $max-viewport: 1920);
      }
    }
  }

  &__catchcopy-br {
    @include g.mq(md) {
      display: none;
    }
  }

  &__catchcopy-en-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: g.$z-mv-logo-en;
    width: fit-content;
    height: 100%;
    mix-blend-mode: overlay;
    opacity: 0;
    transform: translate(0, -100svh);
    transition:
      opacity 1.4s g.$transition-easing-mv-logo-en,
      transform 1.4s g.$transition-easing-mv-logo-en;

    &.is-complete {
      transition: none;
    }

    &.is-active {
      opacity: 1;
      transform: translate(0, 0);
    }

    @include g.mq(md) {
      @include g.contents-width;

      top: clamp(11%, 32% - 11.5vw, 23%);
      left: 50%;
      height: auto;
      transform: translate(calc(-50% - 100vw), 0);

      &.is-active {
        transform: translate(-50%, 0);
      }
    }
  }

  &__catchcopy-en-img {
    display: block;
    width: auto;
    height: 100%;

    @include g.mq(md) {
      width: 100%;
      height: auto;
    }
  }

  &__scroll-btn-wrap {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    z-index: g.$z-mv-btn;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s 0.8s g.$transition-base-easing;

    &.is-complete {
      transition: none;
    }

    &.is-active {
      pointer-events: all;
      opacity: 1;
    }

    @include g.mq(md) {
      right: 5rem;
      bottom: 25%;
    }

    @include g.mq(lg) {
      @include g.contents-width;

      bottom: 4rem;
      left: 50%;
      display: flex;
      justify-content: flex-end;
      transform: translateX(-50%);
    }
  }

  &__scroll-btn {
    display: grid;
    place-content: center;
    width: 15rem;
    aspect-ratio: 1;
    border: 1px solid g.$pale-gray;
    border-radius: 50%;

    @include g.mq(md) {
      width: 18rem;
    }

    @include g.mq(lg) {
      width: 22rem;
    }
  }

  &__scroll-btn-txt {
    position: relative;
    display: block;
    padding-left: 3rem;
    font-family: g.$oswald;
    font-size: 1.1rem;
    line-height: 2;
    color: g.$white;
    letter-spacing: 0.64em;

    @include g.mq(md) {
      padding-left: 3.5rem;
      font-size: 1.2rem;
    }

    @include g.mq(lg) {
      padding-left: 4rem;
      font-size: 1.4rem;
    }

    &::before {
      position: absolute;
      top: 0.7rem;
      left: 0;
      width: 1.8rem;
      height: 2.5rem;
      content: "";
      background-image: url("../images/top/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      animation:
        mv-move-arrow 1.6s ease-in-out infinite,
        mv-hide-arrow 1.6s ease-out infinite;
    }
  }

  // =========================================================================
  // MESSAGEセクション
  // =========================================================================

  &__message {
    @include g.section-margin;

    padding: 10rem 0;

    @include g.mq(md) {
      padding: 16rem 0;
    }

    @include g.mq(lg) {
      padding: 24rem 0;
    }
  }

  &__message-inner {
    @include g.contents-width;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    @include g.mq(md) {
      gap: 6.4rem;
    }

    @include g.mq(lg) {
      gap: 8rem;
      width: fit-content;
    }
  }

  &__message-txt-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    opacity: 0;

    &.is-active {
      animation: fade-up 0.6s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      gap: 2.4rem;
    }

    @include g.mq(lg) {
      gap: 3.2rem;
    }
  }

  &__message-txt {
    font-size: 1.5rem;
    font-weight: g.$bold;
    line-height: 2;
    color: g.$white;
    letter-spacing: 0.03em;

    @include g.mq(md) {
      gap: 4rem;
      font-size: 2rem;
      letter-spacing: 0.05em;
    }

    @include g.mq(lg) {
      gap: 4.8rem;
      font-size: 2.4rem;
      letter-spacing: 0.08em;
    }
  }

  &__message-br {
    @include g.mq(md) {
      display: none;
    }
  }

  // =========================================================================
  // ABOUTセクション
  // =========================================================================

  &__about {
    @include g.section-margin;
  }

  &__about-inner {
    @include g.contents-width;
  }

  &__about-ttl {
    margin-bottom: 3.2rem;
    opacity: 0;

    &.is-active {
      animation: fade-right 1s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      margin-bottom: 6.4rem;
    }

    @include g.mq(lg) {
      margin-bottom: 8rem;
    }
  }

  &__about-profile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      gap: 4rem;
    }

    @include g.mq(lg) {
      flex-direction: row;
      gap: 8rem;
      align-items: stretch;
      justify-content: center;
    }

    @include g.mq(xl) {
      gap: 13rem;
    }
  }

  &__about-img-wrap {
    width: 18.4rem;
    aspect-ratio: 23 / 30;

    @include g.mq(md) {
      width: 22rem;
    }

    @include g.mq(lg) {
      width: 30rem;
    }
  }

  &__about-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__about-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include g.mq(md) {
      gap: 2.2rem;
      max-width: 56rem;
    }

    @include g.mq(lg) {
      gap: 2.4rem;
    }
  }

  &__about-name {
    font-size: 1.4rem;
    font-weight: g.$bold;
    color: g.$white;
    letter-spacing: 0.12em;

    @include g.mq(md) {
      font-size: 2.1rem;
    }
  }

  &__about-link-wrap {
    display: flex;
    gap: 2rem;
    align-items: center;

    @include g.mq(md) {
      gap: 2.4rem;
    }

    @include g.mq(lg) {
      gap: 3.2rem;
    }
  }

  &__about-link {
    position: relative;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 0.5em 0;
    font-size: 1.2rem;
    color: g.$white;
    transition: opacity g.$transition-base-duration g.$transition-base-easing;

    &--github,
    &--blog {
      &::before {
        width: 1.8rem;
        aspect-ratio: 1;
        content: "";
      }
    }

    &--github {
      font-family: g.$oswald;
      letter-spacing: 0.03em;

      &::before {
        background: url("../images/common/icon-github-white.svg") center center / cover;
      }
    }

    &--blog {
      &::before {
        background: url("../images/top/about/about-blog-icon.svg") center center / cover;
      }
    }

    @include g.hover {
      opacity: 0.7;
    }

    @include g.mq(md) {
      gap: 1rem;
      font-size: 1.4rem;

      &--github,
      &--blog {
        &::before {
          width: 2.2rem;
        }
      }

      &--github {
        letter-spacing: 0.05em;
      }
    }
  }

  &__about-txt {
    font-size: 1.2rem;
    line-height: 2;
    color: g.$gray;
    letter-spacing: 0.03em;

    @include g.mq(md) {
      font-size: 1.4rem;
      letter-spacing: 0.05em;
    }
  }

  // =========================================================================
  // SKILLセクション
  // =========================================================================

  &__skill {
    @include g.section-margin;
  }

  &__skill-inner {
    @include g.contents-width;
  }

  &__skill-ttl {
    margin-bottom: 3.2rem;
    opacity: 0;

    &.is-active {
      animation: fade-right 1s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      margin-bottom: 6.4rem;
    }

    @include g.mq(lg) {
      margin-bottom: 8rem;
    }
  }

  &__skill-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8rem;
    counter-reset: skill-list-number 0;

    @include g.mq(md) {
      gap: 10rem;
    }

    @include g.mq(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10rem 8rem;
    }

    @include g.mq(1440px) {
      gap: 12rem 10rem;
    }
  }

  &__skill-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 2.4rem;
    font-size: 1.4rem;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 2em);
      height: 1px;
      content: "";
      background-color: g.$gray;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      font-family: g.$oswald;
      color: g.$gray;
      content: counter(skill-list-number, decimal-leading-zero);
      counter-increment: skill-list-number 1;
      transform: translateY(-50%);
    }

    @include g.mq(md) {
      gap: 2.8rem;
      padding-top: 2.8rem;
      font-size: 1.6rem;
    }

    @include g.mq(lg) {
      gap: 3.2rem;
      padding-top: 3.2rem;
    }
  }

  &__skill-name {
    font-family: g.$oswald;
    font-size: 2.4rem;
    color: g.$white;
    letter-spacing: 0.05em;

    @include g.mq(md) {
      font-size: 3rem;
    }
  }

  &__skill-txt-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include g.mq(md) {
      flex-direction: row;
      gap: 4rem;
    }

    @include g.mq(lg) {
      flex-direction: column;
    }

    @include g.mq(1440px) {
      flex-direction: row;
      gap: 4.8rem;
      justify-content: space-between;
    }
  }

  &__skill-txt {
    font-size: 1.2rem;
    line-height: 2;
    color: g.$gray;
    letter-spacing: 0.03em;

    @include g.mq(md) {
      font-size: 1.4rem;
      letter-spacing: 0.05em;
    }
  }

  &__skill-icon-wrap {
    flex-shrink: 0;
    width: 24rem;
    margin-inline: auto;

    @include g.mq(md) {
      width: 28rem;
    }

    svg {
      width: 100%;
      fill: none;

      path {
        stroke: g.$gray;
      }
    }
  }

  // =========================================================================
  // WORKSセクション
  // =========================================================================

  &__works {
    @include g.section-margin;
  }

  &__works-inner {
    @include g.contents-width;
  }

  &__works-pinned-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100svh;
    padding: 2.4rem 0;

    @include g.mq(md) {
      padding: 3.2rem 0;
    }

    @include g.mq(lg) {
      padding: 5.6rem 0;
    }
  }

  &__works-ttl {
    opacity: 0;

    &.is-active {
      animation: fade-right 1s g.$transition-base-easing forwards;
    }
  }

  &__works-list {
    position: relative;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }
  }

  &__works-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    &:not(:first-of-type) {
      position: absolute;
      top: 0;
    }

    @include g.mq(md) {
      gap: 2.4rem;
    }

    @include g.mq(lg) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__works-item-txt-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include g.mq(md) {
      gap: 2.4rem;
    }

    @include g.mq(lg) {
      position: absolute;
      left: 0;
      z-index: g.$z-default;
      gap: 3.2rem;
    }

    @include g.mq(xl) {
      gap: 4rem;
    }
  }

  &__works-item-ttl {
    font-size: 2.8rem;
    font-weight: g.$bold;
    color: g.$white;
    letter-spacing: -0.03em;

    &--en {
      font-family: g.$oswald;
    }

    @include g.mq(md) {
      font-size: 5.6rem;
    }

    @include g.mq(lg) {
      font-size: 7rem;
    }

    @include g.mq(xl) {
      font-size: 11rem;
    }
  }

  &__works-item-txt {
    font-size: 1.2rem;
    line-height: 2;
    color: g.$gray;
    letter-spacing: 0.05em;

    @include g.mq(md) {
      font-size: 1.4rem;
    }

    @include g.mq(xl) {
      font-size: 1.6rem;
    }
  }

  &__works-item-img-wrap {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(g.$black, 0.1);
      border-radius: 1rem;
    }

    @include g.mq(lg) {
      width: 57.5%;
    }
  }

  &__works-item-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  &__works-item-link {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25%, -50%);
  }

  &__works-nav-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }

    @include g.mq(lg) {
      grid-template-columns: 5fr 4fr 1fr;
      gap: 0;
      align-items: center;
    }
  }

  &__works-icon-wrap {
    position: relative;
    grid-row: 3;
    justify-self: center;
    width: 7.2rem;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.4rem;
      height: 1.8rem;
      content: "";
      background-image: url("../images/top/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-50%, -50%);
      animation:
        works-move-arrow 1.6s ease-in-out infinite,
        works-hide-arrow 1.6s ease-out infinite;
    }

    @include g.mq(md) {
      width: 10rem;

      &::before {
        width: 1.6rem;
        height: 2rem;
      }
    }

    @include g.mq(lg) {
      grid-row: initial;
      justify-self: flex-start;
    }

    @include g.mq(xl) {
      width: 13rem;

      &::before {
        width: 1.8rem;
        height: 2.4rem;
      }
    }
  }

  &__works-svg-wrap {
    svg {
      width: 100%;
      fill: g.$white;
    }
  }

  &__works-nav {
    position: relative;
    display: flex;
    justify-self: center;
    width: fit-content;
    padding: 0.4rem;
    background-color: rgba(g.$white, 0.1);
    border-radius: 100vmax;

    @include g.mq(md) {
      padding: 0.6rem;
    }

    @include g.mq(lg) {
      padding: 0.8rem;
    }
  }

  &__works-nav-pager {
    position: absolute;
    top: 0;
    left: 0;
    z-index: g.$z-default;
    pointer-events: none; // 後ろのボタンをクリックできるようにする
    background-color: g.$black;
    border-radius: 50vmax;
  }

  &__works-nav-btn {
    position: relative;
    z-index: g.$z-works-nav-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    aspect-ratio: 1;
    font-family: g.$oswald;
    font-size: 1.2rem;
    font-weight: g.$bold;
    color: g.$white;
    letter-spacing: -0.03em;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color g.$transition-base-duration g.$transition-base-easing;

    @include g.hover {
      background-color: g.$black;
    }

    @include g.mq(md) {
      width: 4.8rem;
      font-size: 1.3rem;
    }

    @include g.mq(lg) {
      width: 5.6rem;
      font-size: 1.4rem;
    }

    @include g.mq(xl) {
      width: 6.4rem;
      font-size: 1.5rem;
    }
  }

  &__works-archive-link {
    position: relative;
    display: inline-block;
    justify-self: center;
    width: fit-content;
    padding: 1rem 0;
    font-family: g.$oswald;
    font-size: 1.6rem;
    font-weight: g.$bold;
    color: g.$gray;
    letter-spacing: -0.03em;
    transition: color g.$transition-base-duration g.$transition-base-easing;

    &::before {
      position: absolute;
      bottom: 0.4rem;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background-color: g.$gray;
      transform: scaleX(1);
      transform-origin: left;
      transition: transform g.$transition-base-duration g.$transition-base-easing;
    }

    &::after {
      position: absolute;
      top: 1rem;
      left: 0;
      color: g.$white;
      content: attr(data-txt);
      clip-path: inset(0 100% 0 0);
      transition: clip-path g.$transition-base-duration g.$transition-base-easing;
    }

    @include g.hover {
      color: g.$white;

      &::before {
        transform: scaleX(1);
      }

      &::after {
        clip-path: inset(0);
      }
    }

    @include g.mq(md) {
      font-size: 1.8rem;
    }

    @include g.mq(lg) {
      justify-self: flex-end;

      &::before {
        background-color: g.$white;
        transform: scaleX(0);
      }
    }

    @include g.mq(xl) {
      font-size: 2.4rem;
    }
  }

  // =========================================================================
  // CONTACTセクション
  // =========================================================================

  &__contact {
    padding: 10rem 0;
    background: url("../images/top/contact/contact-bg.jpg") center center / cover;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      padding: 16rem 0;
    }

    @include g.mq(lg) {
      padding: 24rem 0;
    }
  }

  &__contact-inner {
    @include g.contents-width;
  }

  &__contact-ttl {
    margin-bottom: 3.2rem;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      margin-bottom: 6.4rem;
    }

    @include g.mq(lg) {
      margin-bottom: 8rem;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    opacity: 0;

    &.is-active {
      animation: fade-in 1s g.$transition-base-easing forwards;
    }

    @include g.mq(md) {
      gap: 3.2rem;
    }

    @include g.mq(lg) {
      gap: 4rem;
    }
  }

  &__contact-txt {
    font-size: 1.2rem;
    line-height: 2;
    color: g.$white;
    letter-spacing: 0.05em;

    @include g.mq(md) {
      font-size: 1.3rem;
    }

    @include g.mq(lg) {
      font-size: 1.4rem;
    }
  }

  &__contact-br {
    @include g.mq(md) {
      display: none;
    }
  }
}

// =========================================================================
// トップページ用keyframes
// =========================================================================

// mvのスクロールボタンの矢印アニメーション：移動量
@keyframes mv-move-arrow {
  0% {
    top: 1rem;
  }

  100% {
    top: 4rem;
  }
}

// mvのスクロールボタンの矢印アニメーション：途中で隠す
@keyframes mv-hide-arrow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

// worksのスクロールボタンの矢印アニメーション：移動量
@keyframes works-move-arrow {
  0% {
    transform: translate(-50%, calc(-50% - 0.8rem));
  }

  100% {
    transform: translate(-50%, calc(-50% + 1.5rem));
  }
}

// worksのスクロールボタンの矢印アニメーション：途中で隠す
@keyframes works-hide-arrow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}
