@use "../global/" as g;

// =========================================================================
// 作品カード (.c-card)
// =========================================================================
.c-card {
  $parent: &;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &--training::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: g.$z-default;
    padding: 0.8rem;
    font-size: 1.4rem;
    color: g.$black;
    pointer-events: none;
    content: "職業訓練作品";
    background-color: g.$white;
  }

  &.is-hidden {
    display: none;
  }

  &__link {
    display: block;
    overflow: hidden;

    @include g.hover {
      #{$parent}__img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform g.$transition-base-duration g.$transition-base-easing;
  }

  &__ttl {
    font-size: 2rem;
    font-weight: g.$bold;
    color: g.$white;

    &--en {
      font-family: g.$oswald;
      letter-spacing: 0.02em;
    }
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }
}
