@use "./variables" as v;

// =========================================================================
// 共通keyframes
// =========================================================================

// フェードイン
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 左から右へフェードイン
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// 下から上へフェードイン
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
