@use "./variables" as v;

// =========================================================================
// 共通keyframes
// =========================================================================

// フェードイン
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 左から右へフェードイン
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// 下から上へフェードイン
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// clip-pathアニメーション: 左から右へ【現れる】動き
@keyframes clip-in {
  0% {
    clip-path: inset(0 100% 0 0); // 右側を100%削る（見えない）
  }

  100% {
    clip-path: inset(0 0 0 0); // 全て表示
  }
}

// clip-pathアニメーション: 左から右へ【消える】動き
@keyframes clip-out {
  0% {
    clip-path: inset(0 0 0 0); // 全て表示
  }

  100% {
    clip-path: inset(0 0 0 100%); // 左側を100%削る（見えない）
  }
}
