// =========================================================================
// ブレイクポイント
// =========================================================================
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px
) !default;

// =========================================================================
// フォント
// =========================================================================
$oswald: "Oswald", sans-serif;
$noto-sans: "Noto Sans JP", sans-serif;
$normal: 400;
$bold: 700;

// =========================================================================
// 色
// =========================================================================
$white: #fff;
$black: #1d1d1d;
$gray: #868686;
$pale-gray: #bababa;
$dark-gray: #2b2b2b;
$green: #4faf76;
$red: #f00;

// =========================================================================
// z-index
// =========================================================================
$z-back: -1;
$z-default: 1;
$z-header: 100;
$z-drawer: 200;

// =========================================================================
// Size & Layout (サイズ・レイアウト関連)
// =========================================================================

// ヘッダーの高さ
$header-height-sp: 80px;
$header-height-tab: 90px;
$header-height-pc: 100px;

// アニメーションの基本速度
$transition-base-duration: 0.4s;

// アニメーションの基本easing
$transition-base-easing: ease-out;
