// =========================================================================
// ブレイクポイント
// =========================================================================
$pc: 1280;
$tab: 768;

// =========================================================================
// フォント
// =========================================================================
$oswald: 'Oswald', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;
$normal: 400;
$bold: 700;

// =========================================================================
// 色
// =========================================================================
$white: #fff;
$black: #1D1D1D;
$gray: #868686;
$pale-gray: #BABABA;
$dark-gray: #2B2B2B;
$green: #4faf76;
$red: #f00;