// =========================================================================
// ブレイクポイント
// =========================================================================
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px
) !default;

// =========================================================================
// フォント
// =========================================================================
$oswald: "Oswald", sans-serif;
$noto-sans: "Noto Sans JP", sans-serif;
$normal: 400;
$bold: 700;
$heavy: 900;

// =========================================================================
// 色
// =========================================================================
$white: #fff;
$black: #1d1d1d;
$gray: #868686;
$pale-gray: #bababa;
$dark-gray: #2b2b2b;
$green: #4faf76;
$red: #f00;
$blue: #3ea6ff;

// =========================================================================
// z-index
// =========================================================================
$z-back: -1;
$z-default: 1;
$z-works-nav-btn: 2;
$z-mv-logo-en: 10;
$z-mv-logo-ja: 20;
$z-mv-btn: 30;
$z-header: 100;
$z-drawer: 200;

// =========================================================================
// Size & Layout (サイズ・レイアウト関連)
// =========================================================================

// ヘッダーの高さ
$header-height-sp: 80px;
$header-height-tab: 90px;
$header-height-pc: 100px;

// アニメーションの基本速度
$transition-base-duration: 0.4s;

// アニメーションの基本easing
$transition-base-easing: ease-out;

// mvロゴアニメーションeasing: 日本語テキスト
$transition-easing-mv-logo-ja: cubic-bezier(0.34, 0.8, 0.63, 0.98);

// mvロゴアニメーションeasing: 英語ロゴ画像
$transition-easing-mv-logo-en: cubic-bezier(0.99, 0, 0.08, 1);
