@use "../global" as *;

.js-fadeUpLarge {
  opacity: 0;
  transform: translateY(120px);
  transition: 0.6s cubic-bezier(0.66, 1.06, 0.74, 0.99);

  &.js-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.js-fadeIn {
  opacity: 0;
  transition: 1s;

  &.js-active {
    opacity: 1;
  }
}

.js-fadeUp {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;

  &.js-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.js-fadeRight {
  opacity: 0;
  transform: translateX(-40px);
  transition: 1s;

  &.js-active {
    opacity: 1;
    transform: translateX(0);
  }
}