@use "../../global/" as g;

// =========================================================================
// Component: Tag
// スキルなどを表示するタグパーツ（.c-tag）のスタイル設定
// =========================================================================
.c-tag {
  display: block;

  // font-sizeに連動して余白が可変するように em を使用
  padding: 0.6em 0.8em;
  font-family: g.$oswald;
  font-size: 1.1rem;
  color: g.$white;
  letter-spacing: 0.02em;
  background-color: rgba(g.$white, 0.1);
  border-radius: 3px;

  @include g.mq(md) {
    font-size: 1.2rem;
  }
}